pandas==1.5.3
numpy==1.24.2
matplotlib==3.6.3
seaborn==0.12.1
scipy==1.10.0
statsmodels==0.13.5
PyPDF2==3.0.1
fpdf==1.7.2
scikit-learn==1.2.2
streamlit==1.21.0
chardet==5.0.0
reportlab==3.6.13

faiss-cpu
groq
langchain-groq
PyPDF2
langchain_google_genai
langchain
streamlit
langchain_community
python-dotenv
pypdf
google-cloud-aiplatform>=1.38
